<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:ColoredConsole.outputTemplate" value="[{Timestamp}] [{Version}] [{Level}] [{SourceContext:l}] {Message}{NewLine:l}{Exception:l}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="sampleactorsystem.{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="[{Timestamp}] [{Version}] [{Level}] [{SourceContext:l}] {Message}{NewLine:l}{Exception:l}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>